{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}
